@import "../../node_modules/@carbon/styles/css/styles.css";
@import "../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";

body {
  background-color: #f3f3f3;
  display: flex;
  flex-flow: column;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  margin: 0px;
  overflow: hidden;
}

body .page-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.recharts-tooltip-wrapper {
  z-index: 1000;
}
