@import "../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  display: flex;
  flex-flow: column;
  font-family: "Lexend", sans-serif;
  margin: 0px;
  overflow-y: scroll;
}

body .page-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.recharts-tooltip-wrapper {
  z-index: 1000;
}
