name: Build/Test

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  validate-protobuf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: ./
      -
        name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '25.3'
      -
        name: Install just
        uses: extractions/setup-just@v1

  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: ./

      -
        name: Install just
        uses: extractions/setup-just@v1

      -
        name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: '18.3.0'

      - name: Get npm cache directory
        id: npm-cache-dir
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}

      - uses: actions/cache@v4
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('./ui/**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      -
        name: Build
        working-directory: ./
        run: |
          just build-local
